# database
DB_CONNECTION="Server=localhost;Port=5432;User Id=docker;Password=docker;Database=docker"

# message broker
BROKER_HOST="localhost"
BROKER_PORT="5672"
BROKER_USER="admin"
BROKER_PASS="admin@123"

# workers
WAITING_JOB_TIME=4000
FALLBACK_JOB_TIME=12000

# payment processors
PAYMENT_PROCESSOR_URL=
PAYMENT_PROCESSOR_FALLBACK_URL=
MAX_WAITING_ATTEMPTS=5
ACCEPTABLE_RESPONSE_TIME=7